body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../img/fondo\ numeros.png');
  }
main{
    flex-grow: 1;
}
footer{
    color: rgb(240, 37, 193);
}